  <!DOCTYPE html>
  <html>
    <head>
      <p style="font-size=18pt;"><h2>자화상-윤동주<h2></p>
    </head>
      <body>
        <section>
        <hr size="10" align="left" width=100% noshade="noshade"></hr>
          <center><span style="font-size: 14pt;"><h3>&lt; 자화상 &gt;</h3></span></center>
          <u><center><span style="font-size: 14pt;"><h3>윤동주</h3></span></center></u>
          <hr align="center" width=50%></hr>
          <p style="text-align: left;"><span style="font-size: 12pt;">산모퉁이를 돌아 논가 외딴 우물을 홀로 찾아가선 가만히 들여다봅니다.</span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있습니다.</span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">그리고 한 사나이가 있습니다. 어쩐지 그 사나이가 미워져 돌아갑니다.</span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">돌아가다 생각하니 그 사나이가 가엾어집니다. </span><span style="font-size: 12pt;">도로 가 들여다보니 사나이는 그대로 있습니다.</span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">다시 그 사나이가 미워져 돌아갑니다. </span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">돌아가다 생각하니 그 사나이가 그리워집니다.</span></p>
          <p style="text-align: left;"><span style="font-size: 12pt;">우물 속에는 달이 밝고 구름이 흐르고 하늘이 펼치고 파아란 바람이 불고 가을이 있고 추억처럼 사나이가 있습니다.</span></p>
        </section>
        <aside>
          <p style="font-size=16pt;">윤동주 시인의 다른 시</p>
          <ul style="font-size: 12pt;">
            <li>서시</li>
            <li>자화상</li>
            <li>눈오는 지도</li>
            <li>새로운 길</li>
            <li>길</li>
            <li>별헤는 밤</li>
            <li>쉽게 씌어진 시</li>
            <li>참회록</li>
            <li>못자는 밤</li>
            <li>비오는 밤</li>
            <li>소낙비</li>
          </ul>
      </aside>
      <hr/>
    <footer>
      <small style="font-size: 12pt;">&copy;웹서비스프로그래밍&reg;2024</small>
    </footer>
    </body>
  </html>